
.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgb(25 47 135) !important;
}

.text-center{
    text-align: start !important;
    border-radius: none;
}
/* #right{ */
    /* width: 50%; */
    /* height: 10%; */
    /* border: 2px solid green; */
 /* }  */


 
.btn-success{ --bs-btn-color: #fff;
    --bs-btn-bg: #3f63ec;
    --bs-btn-border-color: #fefefe;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0d6efd;}
